*{
    margin: auto;
}
body{
    background-color: blueviolet;
    text-align: center;
}
#titulo{
        color: rgb(215, 245, 250);
        font-size:40px;
        padding: 15px;
        border: 20px solid black;
        margin: 20px;
}
h1{
    background-color: beige;
    padding: 20px;
}

a:hover{
    color:rgb(224, 179, 163);
    font-size: 30px;
    font-style: italic;
}
img{
    width: 500px;
    height: 300px;
    margin: 20px;
}
img:hover{
    width: 520px;
    height: 320px;
    
}
.hiper{
    margin-left: 20px;
    margin-right: 20px;
}
p{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

.cuadro1{
    width:180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: aqua;
    
    font-family: fantasy;
    font-size: 20px;
    
    position: static;
    
}

.cuadro2{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: aqua;
    
    font-family: fantasy;
    font-size: 20px;
    
    position: relative;
}
.cuadro3{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: aqua;
    
    font-family: fantasy;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 40px;
    
}
.cuadro4{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(rgb(212, 0, 255), rgb(109, 128, 0), alpha);
    
    margin: 20px;
    
    font-family: fantasy;
    font-size: 20px;
    
    position: absolute;
    top:40px;
    right: 40px;
}
.flotante{
    width: 20%;
    height: 20%;
    right: 10%;
    border:black solid;
    padding: 10px;
    background-color: aqua;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    float: left;
    margin: 20px;
    top: 40px;
    right: 48px;
    
}

.imagen{
        width: 300px;
        height: 160px ;
        margin-top: 20px;
        border: 20px;
        padding-top: 20px;
        transition-duration: 2s;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        transition-delay: 0,1s;
        transform: rotate(360deg)scale(1.2);
        filter: brightness(110%);
    
}
h1{
    width: 300px;
    height: 50px ;
    margin-top: 20px;
    border: 20px;
    padding-top: 20px;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0,1s;
    transform: rotate(360deg)scale(1.2);
    filter: grayscale(100%)
  

}